.add-sum-form {
  margin: 0 auto;
  width: 500px;
  border: 1px solid lightsteelblue;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
}

.sum-table {
  margin: 0 auto;
}

.sum-table td {
  width: 100px;
  height: 20px;
}

.sum-table .name {
  text-align: left;
}

.sum-table .sum {
  text-align: right;
}

.sum-table .result {
  text-align: right;
  text-decoration: underline;
}
